@charset "UTF-8";

:root {
    --cor-texto: #D0D6F9;

    --font-texto: 'Barlow', sans-serif;
    --font-texto2: 'Barlow Condensed', sans-serif;
    --font-titulo: 'Bellefair', serif;
}

/* Hader */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url(../assets/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

/* Main */

.crew {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90vh;
    padding-top: 20px;
    background-image: url(../assets/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.title {
    font-weight: 400;
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.astro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 80%;
    border-bottom: 1px solid #d0d6f944;
}

.check {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 0;
}

.btn {
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.322);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.info h2 {
    font-family: var(--font-titulo);
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.493);
    padding-top: 20px;
}

.info h3 {
    font-family: var(--font-titulo);
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    padding-top: 10px;
}

.info p {
    font-size: 1.2em;
    line-height: 30px;
    text-align: center;
    width: 80%;
    padding-top: 50px;
}

.picture > img{
    width: 200px;
}